/* Nagłówek, który pojawia się po przewinięciu */
.sticky-header {
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    background-color: #23272A;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    transition: top 0.3s ease;
}
.sticky-header-top {
    position: fixed;
    top: 0;
}

.sticky-header.visible {
    top: 0;
}

.header-title {
    font-size: 24px;
}

a:link, a:visited {
    color: #DCF763;
    text-decoration: none;
}

a:hover, a:active {
    color: #CBE652;
    text-decoration: none;
}

.header-buttons {
    display: flex;
    align-self: end;
    gap: 15px;
}

/* Przyciski w prawym górnym rogu */
.top-right-buttons {
    position: absolute;
    top: 15px;
    right: 15px;
    gap: 15px;
    display: flex;
}

.cta-button {
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.cta-button.login-button {
    background-color: #DCF763;
    color: #23272A;
}

.cta-button.secondary {
    color: #DCF763;
    border: 2px solid #DCF763;
    background-color: transparent;
}

.cta-button.secondary:hover {
    background-color: #DCF763;
    color: #23272A;
}

.cta-button.login-button:hover {
    background-color: #c5db57;
}