body {
    background-color: #23272a;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

#container {
    background-color: #23272a;
    width: 60%;
    padding: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 3px 3px 30px 5px #dcf763;
    color: #dcf763 !important;
}

.tytul {
    font-size: 60px;
    margin-bottom: 30px;
}

.image {
    height: 300px;
    width: 250px;
    border-radius: 20px;

    text-align: center;
    object-fit: contain;
}

.imagePracodawca {
    height: 300px;
    width: 300px;
    border-radius: 20px;

    text-align: center;
    object-fit: cover;
}

.line {
    padding-right: 15px;
    padding-left: 15px;
}

.pic {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    text-align: center;
}

.pic {
    border-radius: 10px;
    object-fit: contain;
}


.items {
    display: flex;
}

.dane-uzytkownik {
    margin-left: 35px;
}

.imageOgloszenia {
    height: 200px;
    width: 200px;
    border-radius: 20px;

    text-align: center;
    object-fit: contain;
}

.picOgloszenia {
    border: none !important;
    border-radius: 10px;

}